* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Poppins Bold', sans-serif;
    color: #ffffff;
}

.menu-top {
    justify-content: space-between;
    width: 100%;
    display: flex;
    padding: 40px;
}

.input-container {
    position: relative;
    width: 500px;
}

.input-container input {
    width: 100%;
    background-color: #031812;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px 40px 10px 10px;
    color: white;
}

.input-container input::placeholder {
    color: gray;
    font-size: 14px;
}

.input-container svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: gray;
    cursor: pointer;
}

.detectar {
    text-align: center;
    background-color: #031812;
    padding: 50px;
    width: 600px;
    margin: auto;
    border-radius: 20px;
}

.detectar h1 {
    font-size: 40px;
}

.detectar button {
    font-size: 30px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: #031812;
}

.detectar button:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#upload {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.upload-area {
    border: 2px dashed #fff;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.menu-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #031812;
    padding: 20px 100px;
    position: absolute;
    font-size: 15px;
    left: 0;
    bottom: 0;
}

.menu-bottom div {
    text-align: center;
}

.menu-bottom a {
    color: #ffffff;
    text-decoration: none;
}

.menu-bottom svg {
    scale: 150%;
    margin-bottom: 20px;
}